<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rgSoft.socialNet"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="rgSoft.socialNet.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="Contact_activity" android:label="Contact_activity"></activity>
        <activity android:name="Login_Activity" android:label="Login_Activity"></activity>
        <activity android:name="Muro_Activity" android:label="Muro_Activity"></activity>
        <activity android:name="Perfil_Activity" android:label="Perfil_Activity"></activity>
        <activity android:name="Registro_Activity" android:label="Registro_Activity"></activity>
        <activity android:name="User_Activity" android:label="User_Activity"></activity>
    </application>

</manifest>